<%- include('./partials/headA') %>
<%- include('./partials/navAdmin') %>

<section id="homeSec" class="main">
  
    <body onload="askPermission()"></body>
    <% productData.forEach(product => { %>
        <figure class="home__fig">
            <a href="/detailsAdmin/<%= product.id %>" target="_blank">
                <img class="home__img" src=<%= product.pictureLink %> alt="">
            </a>
            <figcaption>
                <p>
                    <%= product.productName %>
                    <span class="promo"><%= product.promo %></span>
                </p>
                <p class="price">₹<%= product.price %></p>
            </figcaption>
        </figure>
    <% }) %>
    <a href="#" id="scroll" ><span></span></a>
</section>